{% extends 'base.html' %}
{% block styles %}
{{super()}}
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/user-page-styles.css')}}">
{% endblock %}
{% block content %}
<div class="container .pranked-container">
	<h2 class="crush-list-title">
		Crush List
	</h2>
	<div class="crush-list">
		{% for crush_record in crush_list %}
		<div><h5 class="person-name">{{crush_record.from_username}}</h5><h5 class="crush-name">{{crush_record.crush_name}}</h5></div>
		{% endfor %}
	</div>
	<button class="btn share-link-btn">Share this link <a href="{{prank_url}}">{{prank_url}}</a>to prank your friends</button>
	<form action="/logout" method="POST">
		<button class="btn logout-btn">Logout</button>
	</form>
</div>
{{super()}}
{% endblock %}